app/src/com/papersns/model/system.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.geeboo.org/systemDefine"
	xmlns:tns="http://www.geeboo.org/systemDefine" elementFormDefault="qualified">
	<annotation>
		<appinfo></appinfo>
		<documentation>
			标题：子系统定义Schema
			版本：v1.0
			创建者：SuJianFeng
			创建时间： 2013-05-16
			最后更新者：SuJianFeng
			最后更新时间： 2013-05-20				
		</documentation>
	</annotation>
	
	<element name="system">
		<complexType>
			<sequence>
				<element name="id" type="string" />
				<element name="displayName" type="string" />
				<element ref="tns:system" minOccurs="0" maxOccurs="unbounded" />
			</sequence>

		</complexType>
	</element>



</schema>